/* Importing fonts */
/* ###################################### */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Updating default CSS */
/* ###################################### */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

/* Accessing root element of the tree */
/* ###################################### */

:root { /* when we toggle to light mode */
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(194, 100%, 36%);
    --img-border: hsla(0, 0%, 0%, 0.1);
    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);  
    --header-height: 44px;
    --nav-height: 44px;
}

:root.night_mode { /* when we toggle to dark mode */
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 2%);
    --border: hsl(194, 100%, 36%);
    --img-border: hsla(0, 0%, 100%, 0.1);
    --text-dark: hsl(0, 0%, 98%);
    --text-light: hsl(0, 0%, 60%);
}

/* Other */
/* ###################################### */

img {
    display: block;
    max-width: 100%;
}

.top_bar {
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 35px;
}

.top_bar::after {
    content: '';
    position: absolute;
    top: 85px;
    width: 100%;
    height: 1.5px;
    background-color: var(--border);
    
}

.top_bar_info {
    width: 100%;
    max-width: 975px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search Bar */

.top_bar_search {
    width: 40%;
    height: 28px;
    display: flex;
    align-items: center;
    position: relative;
    /* margin-right: 10%; */
}

.search_icon {
    margin-right: 10px;
}

.top_bar_search input {
    width: 50%;
    height: 130%;
    background-color: var(--secondary);
    padding: 5px 10px 5px 20px;
    border: 1px solid var(--border);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.top_bar_search input:focus {
    color: var(--text-dark);
}

/* Switching Theme */

.theme_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.light_theme_btn {
    display: none;
}

.dark_theme_btn {
    display: unset;
}

:root.night_mode .light_theme_btn {
    display: unset;
}

:root.night_mode .dark_theme_btn {
    display: none;
}